@mixin font-dpr($fontSize){
  font-size: $fontSize;
}

@mixin border-width-dpr($width){
  border-width: $width;
}

@function pxToRem($px) {
  @return $px / 1px * 1rpx;
}
$px-10: pxToRem(10px);
$c: center;
$px-5: pxToRem(5px);
$cred: #ff5555;
$cgreen: #00B65E;
$cwhite: #FFF;
$per-50: 50%;
$per-100: 100%;
$ab: absolute;
$re: relative;
$inl-b: inline-block;
$b: block;
$l: left;
$r: right;
$t: top;
